.jumbotron{
    background: none;
    text-align: center;
}

.sectionLight{
    background-color: #eceeef;
    padding: 2em;
}

.sectionDark{
    background-color: #cccccc;
    padding: 2em;
}

.coolStuffWrapper{
    margin-top: 20px;
}

button.coolStuffBtn{
    background-color: red;
    color: white;
    display:block;
    margin:auto;
}

.modal-title{
    margin: auto;
}

.modal-form-wrapper{
    padding: 2rem;
}

.imgCenter{
    display: block;
    margin:auto;
}

.btnCenter{
    display: block;
    margin: auto;
    margin-top:15px;
    width: 53%;
}

.footerImg{
    padding:15px;
}

.fa-square-facebook{
    color:#3b5998;
}

.fa-square-google-plus{
    color:#c32f10;
}

.fa-instagram{
    color:#ffffff;
}

.fa-brands{
    margin:10px;
}

.socialWrapper{
    margin:auto;
}